:root {
  --ghost: #f2f3f8;
  --background: #030b17;
  --glow: #099a92;
  --black: #000;
}
body {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.ghost {
  width: 150px;
  height: 200px;
  background-color: var(--ghost);
  border-radius: 500px 500px 0 0;
  box-shadow: 0 10px 80px var(--glow);
  position: relative;
  animation: float 5s infinite;
}
.eyes {
  padding: 50px 0 0 40px;
  display: flex;
  gap: 30px;
}
.left-eye,
.right-eye {
  width: 20px;
  height: 30px;
  background: var(--black);
  border-radius: 50%;
  position: relative;
}
.left-inner-eye,
.right-inner-eye {
  width: 6px;
  height: 8px;
  background: var(--ghost);
  border-radius: 50%;
  top: 5px;
  left: 3px;
  position: absolute;
}
.mouth {
  width: 25px;
  height: 40px;
  background: var(--black);
  border-radius: 50%;
  margin: 0 auto;
}
.legs {
  display: flex;
  gap: 1px;
  padding-top: 50px;
}
.leg1,
.leg2,
.leg3,
.leg4 {
  width: 40px;
  height: 50px;
  background: var(--ghost);
  border-radius: 50%;
}
@keyframes float {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-30%, 50%) rotate(-5deg);
  }
  65% {
    transform: translate(-60%, -30%) rotate(5deg);
  }
}
